
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.search-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: "Montserrat";
  letter-spacing: 4%;
  line-height: 24px;
  padding: 0 16px;
  color: #808080;
}

.search-button {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 4%;
  line-height: 24px;
}

.search-input:hover {
  outline: none;
  border: 1px solid black;
}

.search-input:focus {
  border: 1px solid #4e75ff;
}

.search-button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  width: 1128px;
}





.card {
  flex: 1 1 calc(25% - 24px);
  max-width: 360px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}
.gallery-images {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 4px 20px;
  width: 360px;
  height: 48px;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  align-items: center;
}

.loader.is-visible {
  display: block;
}


.load-more-container {
  justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 8px;
}

.load-more-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 44px;
}


.load-more-btn {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  width: 125px;
  height: 40px;
  color: #fff;
  font-family: "Montserrat";
  letter-spacing: 4%;
  line-height: 24px;
  display: none;
  cursor: pointer;
  z-index: 1;
  margin-top: 25px;
}

.load-more-btn:hover {
  background-color: #6c8cff;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 5px solid gray;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2;
  margin-top: 12px;
}


.loader.is-visible.initial {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

/* Лоадер під кнопкою */
.loader.is-visible.load-more {
  position: static;
  display: block;
}

